<!DOCTYPE html>
<html>
<head>
    <title>
        傳送表單內容
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form action="/contact/send" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <h1>聯絡我們</h1>
        <div>
            <label for="username">姓名:</label>
            <input type="text" name="username" id="username"/>
            <span style="color:red"> <%= nameError %> </span>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email"/>
        </div>
        <div>
            <label for="title">標題:</label>
            <input type="text" name="title" id="title"/>
        </div>
        <div>
            <label for="description">訊息內容:</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div>
            <input type="submit" value="送出訊息" />
        </div>
    </form>
</body>

</html>